PYTHONPATH=/var/www/html

FLASK_APP=src/rest_lib/wsgi.py

APP_NAME=rest_lib
DEBUG=True
MOPE_CODE=2531

DATABASE_HOST=postgres
DATABASE_PASS=mysecretpassword
DATABASE_PORT=5432
DATABASE_NAME=projeto
DATABASE_USER=projeto
DATABASE_DRIVER=POSTGRES

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_TOKEN_INTROSPECTION_URL=https://auth.nasajon.qa/auth/realms/QA/protocol/openid-connect/token/introspect

APIKEY_VALIDATE_URL=https://dir.nasajon.qa/v2/api/validate

USE_SQL_RETURNING_CLAUSE=true

TESTS_TENANT=99999
TESTS_URL_BASE=http://api-test